<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="snippets.html :: name_head">
    <title>Home</title>
</head>
<body>
<div class="container-fluid">
<nav th:replace="snippets.html :: name_app_navbar"></nav>

<section>
    <div class="container">
        <div class="row mbr-justify-content-center">
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa fa-tv"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Channels</span></h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Details of channels</p>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Provision to create channels</p>
                    </div>
                    <a th:href="@{/site/channels}" class="stretched-link"></a>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <a th:href="@{/site/channel_listing}" class="stretched-link"></a>
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fas fa-edit"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Channel listing</h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Details of channel listing</p>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Provision to create channel listing</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">

                    <div class="ico-wrap">
                        <span class="mbr-iconfont fab fa-elementor"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Order</h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Details of orders</p>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Provision to create new orders</p>
                    </div>
                    <a th:href="@{/site/order}" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<footer th:replace="snippets.html :: name_footer"></footer>
</body>
</html>