<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="snippets.html :: name_head">
    <title>Bin</title>
</head>
<body>
<div class="container-fluid">
<nav th:replace="snippets.html :: name_app_navbar"></nav>


&nbsp;
<button type="button" class="btn btn-primary" title="Create bin" id="create-bin">Create bin</button>

&nbsp;
<button type="button" class="btn btn-primary" title="Upload inventory" id="upload-data">Add inventory</button>

<!-- Blank Row -->
<div class="row">
    &nbsp;
</div>

<!-- Table -->
<div class="row">
    <div class="col-12">
        <table class="table table-striped" id="bin-table">
            <thead>
            <tr>
                <th scope="col">Bin Id</th>
                <th scope="col">Client Sku Id</th>
                <th scope="col">Quantity</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>

<!-- Bin sku Upload Modal -->
<div class="modal" tabindex="-1" role="dialog" id="upload-inventory-modal">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Upload Inventory</h5>
                <button type="button" class="close" id="close-upload" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="inventory-file file">
                    <input type="file" class="custom-file-input" id="inventoryFile">
                    <label class="custom-file-label" for="inventoryFile" id="inventoryFileName">Choose file</label>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="process-data">Upload</button>
            </div>
        </div>
    </div>
</div>
</div>

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/bin.js}"/>
</script>
</body>
</html>