<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="snippets.html :: name_head">
    <title>Home</title>
</head>
<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<section>
    <div class="container">
        <div class="row mbr-justify-content-center">

            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">

                    <div class="ico-wrap">
                        <span class="mbr-iconfont fas fa-user"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Users</h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Information of client/customer</p>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Provision to create a client/customer</p>
                    </div>
                    <a th:href="@{/site/user}" class="stretched-link"></a>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <a th:href="@{/site/product}" class="stretched-link"></a>
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fas fa-cart-plus"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Product</h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Details of products</p>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Provision to create and edit products</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">

                    <div class="ico-wrap">
                        <span class="mbr-iconfont fas fa-warehouse"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Bin
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Details of Bin SKU</p>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Provision to create bins and bin SKU</p>
                    </div>
                    <a th:href="@{/site/bin}" class="stretched-link"></a>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <a th:href="@{/site/order}" class="stretched-link"></a>
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fab fa-elementor"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Order</h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Details of orders</p>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Provision of creating new orders</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="snippets.html :: name_footer"></footer>

</body>
</html>