<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="snippets.html :: name_head">
    <title>Home</title>
</head>
<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<section>
    <div class="container">


        <div class="row mbr-justify-content-center">

            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">

                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-volume-up fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Users</h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">The user page contains details about the users and you can also create a user.</p>
                    </div>
                    <a th:href="@{/site/user}" class="stretched-link"></a>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <a th:href="@{/site/product}" class="stretched-link"></a>
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-calendar fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Product</h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Product page contains details of the products and you can add and edit a product</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">

                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-globe fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Bin
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Bin page contains details of bins and you can create bin and bin inventory</p>
                    </div>
                    <a th:href="@{/site/bin}" class="stretched-link"></a>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <a th:href="@{/site/order}" class="stretched-link"></a>
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-trophy fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Order</h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Order page contains details of orders and you can create orders</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="snippets.html :: name_footer"></footer>

</body>
</html>