<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="snippets.html :: name_head">
    <title>Products</title>
</head>
<body>
<div class="container-fluid">
<nav th:replace="snippets.html :: name_app_navbar"></nav>

&nbsp;
<button type="button" class="btn btn-primary" title="Add product" id="upload-data">Add</button>

<!-- Blank Row -->
<div class="row">
    &nbsp;
</div>
<!-- Product table-->
<div class="row">
    <div class="col-12">
        <table class="table table-striped" id="product-table">
            <thead>
            <tr>
                <th scope="col">Client SKU ID</th>
                <th scope="col">Name</th>
                <th scope="col">Brand ID</th>
                <th scope="col">MRP</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!--Product Edit Modal-->
<div class="modal" tabindex="-1" role="dialog" id="edit-product-modal">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-inline" id="product-edit-form">
                    <div class="form-group">
                        <label for="inputClientSkuId" class="col-sm-4 col-form-label">Client SKU ID</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="clientSkuId" id="inputClientSkuId" placeholder="Enter client SKU ID" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName" class="col-sm-4 col-form-label">Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="name" id="inputName" placeholder="Enter name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputBrandId" class="col-sm-4 col-form-label">Brand ID</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="brandId" id="inputBrandId" placeholder="Enter brand ID">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputMrp" class="col-sm-4 col-form-label">MRP</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="mrp" id="inputMrp" placeholder="Enter MRP">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDescription" class="col-sm-4 col-form-label">Description</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="description" id="inputDescription" placeholder="Enter description">
                        </div>
                    </div>
                    <input type="hidden" name="id">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" title="Update edit" id="update-product">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- Product Upload Modal -->
<div class="modal" tabindex="-1" role="dialog" id="upload-product-modal">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Upload Product</h5>
                <button type="button" class="close" id="close-upload" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div>
                <form class="form-inline" id="product-upload-form">
                    <div class="form-group">
                        <label for="inputClientId" class="col-sm-4 col-form-label">Client Name</label>
                        <div class="col-sm-8">
                            <input list="clientId" class="form-control" name="clientId" id="inputClientId" placeholder="Enter client name" required>
                            <datalist id="clientId">
                            </datalist>
                        </div>
                    </div>
                </form>
                <div class="row">
                    &nbsp;
                </div>
                <div class="product-file file">
                    <input type="file" class="custom-file-input" id="productFile" required>
                    <label class="custom-file-label" for="productFile" id="productFileName">Choose file</label>
                </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="process-data">Upload</button>
            </div>
        </div>
    </div>
</div>
</div>

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/product.js}"/>
</script>
</body>
</html>